/* Bootstrap style corrections */

#site-content {
    margin: 75px 20px 20px 20px;
}

.panel-default p {
    padding: 10px;
    text-align: justify;
}

.brand-logotype {
    opacity: 0.6;
    width: 100px;
}

.brand-logotype:hover {
    opacity: 1;
}

.btn.btn-primary.navbar-btn {
    float: right;
    margin-right: 10px;
    padding: 2px;
    min-width: 40px;
}

.btn.btn-primary.navbar-btn {
    font-size: 22px;
    padding: 0;
}

.hidden {
    border: transparent;
    background-color: transparent;
    color: transparent;
    visibility: hidden;
    overflow: hidden;
}

.navbar-toggle {
    min-width: 32px;
    background-color: #ffffff;
    opacity: .8;
}

.navbar-default .navbar-toggle:hover {
    opacity: 1;
    background-color: #ffffff;
    border-color: #bbb;
}

.navbar-default .navbar-toggle:active {
    background-color: #ffffff;
    opacity: .8;
}

.navbar-header {
    border-right: 1px solid #dddddd;
}

body {
    /*background: url("/img/interface/dots.png") repeat #FFFFFF;*/
}

.navbar-brand {
    background: url("/img/logotype_horizontal.png") no-repeat center transparent;
    background-size: 100px;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 0.6;
    width: 100px;
}

.navbar-brand:hover {
    opacity: 1;
}

#collapsed-nav-menu.navbar-collapse.collapse.in button {
    visibility: hidden;
    margin: 0;
    padding: 0;
    height: 0;
    width: 0;
}

ul.nav.navbar-nav.navbar-left {
    border-right: 1px solid #dddddd;
}

ul.nav.navbar-nav.navbar-left:hover {
    background: #fdfdfd;
    color: #333;
    opacity: .8;
}

ul.nav.navbar-nav.navbar-left li.active a {
    /*background-color: #C4C8D3;*/
    background-color: #fdfdfd;
    opacity: .8;
}

ul.nav.navbar-nav.navbar-left li.active a:hover {
    /*opacity: 1;*/
    color: #333;
}
#menu {
    background: url("/img/interface/extra_clean_paper.png");
}

#copyright {
    color: #777;
    font-size: 11px;
}

.thumbnails-wrapper {
    margin: 30px 30px 10px 30px;
}

.thumbnail {
    background-color: #F5F5F5;
}

a.btn.btn-primary {
    display: block;
    margin: 0 auto;
    width: 50%;
}

a.btn.btn-primary.btn-lg {
    margin-top: 25px;
}

.caption h3 {
    text-align: center;
}

.jumbotron.area {
    padding-bottom: 20px;
}

.jumbotron p {
    font-size: 15px;
}

.btn.btn-primary.btn-lg {
    width: 45%;
}

.panel.panel-default {
    /*background: url("/img/interface/bkg.png") repeat;*/
}

.thumbnail:hover {
    border: 1px solid #C4C8D3;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
}

.thumbnail {
    padding: 8px;
}

.navbar-toggle {
    background-color: #ffffff;
    opacity: .8;
}

.btn-primary.navbar-toggle.navbar-btn {
    background-color: #428bca;
    border-color: #357ebd;
    opacity: 1;
}

.btn-primary.navbar-toggle.navbar-btn:hover {
    background-color: #3071a9;
    border-color: #285e8e;
}

.login-inputs-wrapper {
    margin: 0 auto;
    width: 60%;
}

.input-group.col-sm-12 span.form-control-feedback {
    right: 0;
}

.input-group.col-sm-12 span.input-group-addon {
    font-size: 16px;
}