/* Customize Bootstrap styles
------------------------------*/
body {
    background: #ffffff;
}

#site-content {
    margin: 75px 20px 20px 20px;
}

.panel-default p {
    padding: 10px 10px 10px 0;
    text-align: justify;
}

.brand-logotype {
    opacity: 0.6;
    width: 100px;
}

.brand-logotype:hover {
    opacity: 1;
}

.btn.btn-primary.navbar-btn {
    float: right;
    margin-right: 10px;
    padding: 2px;
    min-width: 40px;
}

.btn.btn-primary.navbar-btn {
    font-size: 22px;
    padding: 0;
}

.hidden {
    visibility: hidden;
    overflow: hidden;
}

.navbar-toggle {
    min-width: 32px;
    background-color: #ffffff;
    opacity: .8;
}

.navbar-default .navbar-toggle:hover {
    opacity: 1;
    background-color: #ffffff;
    border-color: #bbbbbb;
}

.navbar-default .navbar-toggle:active {
    background-color: #ffffff;
    opacity: .8;
}

.navbar-brand {
    background: url("../images/logotype.png") no-repeat center transparent;
    background-size: 100px;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 0.6;
    width: 100px;
}

.navbar-brand:hover {
    opacity: 1;
}

.navbar.navbar-default.navbar-fixed-top {
    display: block;
    position: fixed;
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #e1e1e1, #ffffff);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#e4e4e4));
    background-image: -o-linear-gradient(top, #e1e1e1, #ffffff);
    background: linear-gradient(top, #e1e1e1, #ffffff);
    height: 50px;
    z-index: 6000000;
}

.navbar-collapse.collapse.in {
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #e1e1e1, #ffffff);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#e4e4e4));
    background-image: -o-linear-gradient(top, #e1e1e1, #ffffff);
    background: linear-gradient(top, #e1e1e1, #ffffff);
    box-shadow: none;
    z-index: 9000000;
}

#collapsed-nav-ul.nav.navbar-nav.navbar-left, ul.nav.navbar-nav.navbar-left.dropdown-togglemenu.navbar-collapse.collapse.in button {
    visibility: hidden;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    width: 0;
}

ul.nav.navbar-nav.navbar-left,
ul.nav.navbar-nav.navbar-left.dropdown-toggle {
    border-right: 1px solid #bbbbbb;
}

ul.nav.navbar-nav.navbar-left::after {
    border-right: 0;
}

ul.nav.navbar-nav.navbar-left:first-child {
    border-left: 1px solid #bbbbbb;
    margin-left: -1px;
    top: 0;
    z-index: 99998;
}

ul.nav.navbar-nav.navbar-left:hover,
ul.nav.navbar-nav.navbar-left.dropdown-toggle:hover {
    background: #fdfdfd;
    display: block;
    padding: 0;
    color: #555555;
    box-shadow: rgba(0, 0, 0, 0.35) 0 1px 5px;
    margin-left: -1px;
    position: relative;
    border-left: 1px solid #bbbbbb;
    top: 0;
    z-index: 99999;
}

ul.nav.navbar-nav.navbar-left:hover:after {
    border-left: none;
    box-shadow: none;
}

ul.nav.navbar-nav.navbar-left li.active a,
ul.nav.navbar-nav.navbar-left li.dropdown.active a {
    background-color: #ffffff;
}

ul.nav.navbar-nav.navbar-left li.active a:hover {
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
}

.dropdown.open,
.dropdown.open:hover,
.dropdown.open:active {
    opacity: 1;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a:hover {
    color: #555555;
    font-weight: lighter;
}

#copyright {
    color: #777777;
    font-size: 11px;
}

.col-sm-6.col-md-4 {
    margin-top: 10px;
}

.thumbnails-wrapper {
    margin: 20px 30px 10px 30px;
}

.thumbnail {
    background-color: #F5F5F5;
    padding: 8px;
}

div.img-thumbnail {
    /*border-radius: 0;*/
    margin-bottom: 4px;
}

div.img-thumbnail img {
    margin: 5px;
    background-color: #F5F5F5;
}

.thumbnail:hover {
    background-color: #EEEEEE;
    border: 1px solid #C4C8D3;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
}

.thumbnail div.caption hr {
    margin-bottom: 5px;
    padding-bottom: 0;
    border: none;
    color: #C4C8D3;
    background-color: #C4C8D3;
    height: 1px;
}

a.btn.btn-primary {
    display: block;
    margin: 0 auto;
    width: 50%;
}

a.btn.btn-primary.btn-lg {
    margin-top: 25px;
}

.caption h3 {
    text-align: center;
}

.jumbotron.area {
    padding-bottom: 20px;
    border-radius: 7px;
}

.jumbotron p {
    font-size: 15px;
}

.btn.btn-primary.btn-lg {
    width: 45%;
}

.navbar-toggle {
    background-color: #ffffff;
    opacity: .8;
}

.btn-primary.navbar-toggle.navbar-btn {
    background-color: #428bca;
    border-color: #357ebd;
    opacity: 1;
}

.btn-primary.navbar-toggle.navbar-btn:hover {
    background-color: #3071a9;
    border-color: #285e8e;
}
