body {
    background-image: linear-gradient(to top,
    rgba(171, 172, 172, 1), rgba(220, 220, 220, 1),
    rgba(220, 220, 220, 1), rgba(171, 172, 172, 1));
}

.login-inputs-wrapper {
    margin: 0 auto;
    width: 60%;
}

.input-group.col-sm-12 span.form-control-feedback {
    right: 0;
}

.input-group.col-sm-12 span.input-group-addon {
    font-size: 16px;
}

.modal-dialog {
    width: 600px;
    margin: 8% auto;
}
.modal-content {
    background-image: -webkit-gradient(linear, 0% 14%, 0% 67%, from(#f9f9f9), to(#e3e3e3)); /* e3e3e3 */
}


.modal-content:hover {
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
}

.modal-title {
    font-weight: bold;
}

.modal-body {
    border-radius: 5px;
}

.modal-body, .modal-header {
    border-color: #f7f7f7;
    border-bottom: 1px solid #e5e5e5;
}

.col-sm-6.col-md-4 {
    margin-top: 10px;
}

.input-group .form-control:not(:first-child):not(:last-child) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn {
    min-width: 85px;
}

div .col-sm-offset-2.col-sm-10 a .btn.btn-default{
    float: right;
    margin-right: 21%;
}