{% extends '@PanchAgemaAdmin/base.html.twig' %}

{% block body %}
    {% block container %}

        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">{{ page_title }}</h3>
            </div>
            <!-- /.col-lg-12 -->
            <strong>{{ message_test }}</strong>
        </div>
        <!-- /.row -->

    {% endblock container %}
{% endblock body %}