{% extends '@PanchAgema/base.html.twig' %}

{% block body %}
    {% block container %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Test action add new product</strong>
        </div>
        {{ test }}
    </div>
    {% endblock container %}
{% endblock body %}